/* CSS declarations go here */
* {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

body {
  padding-left: calc(50% - 190px);
  padding-right: calc(50% - 190px);
  display: block;
  text-align: center;
  text-align: -webkit-center;
}

.orange {
  &:hover {
    color: #FFA000;
  }
}

.link {
  color: #999999;
  &:hover {
    color: #FFA000;
  }
}

h1 {
  font-size: 1.6em;
  margin: 25% 0 1.5em 0;
}

hr {
  width: 90%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em auto;
}


.mid-page-break {
  width: 25%;
}

.top-line {
  // margin: 1em 0 0 0;
}

b {
  font-weight: 400;
}

button {
	font-size: 1em;
	background-color: white;
	border: 1px solid #999;
  border-radius: 4px;
	padding: 10px 28px;
	outline: none;
	margin: 5px;
	cursor: pointer;
  &:disabled {
    border: 1px solid #ccc;
    cursor: default;
  }
  &:hover {
    border: 1px solid #FFA000;
  }
  .close {
    background-color: red;
    border: none;
    color: #fff;
  }
}

table {
  // padding-bottom: 1em;
}

.playerlist {
  list-style-type: none;
  display: block;
  width: 70%;
  padding-left: 0;
  li {
    border-left: 4px #eee solid;
    background-color: #eee;
    padding: 5px 15px;
    margin: 3px;
    text-align: left;
  }
  .current {
    border-left: 4px #00DB11 solid;
  }
  .remove-button {
    display: inline-block;
    float: right;
    cursor: default;
    &:hover {
      color: #FF4A40;
    }
  }
}

input[type=text] {
	font-size: 1em;
	margin: 5px;
	padding: 10px 18px;
	border: 1px solid #999;
	outline: none;
  &:focus {
    border: 1px solid #FFA000;
  }
}

div.footer {
  font-size: 0.75em;
}

.start-button {
  padding: 10px 28px;
  &:disabled {
    background-color: #BEC4C0;
    cursor: default;
  }
}

.quit-button {
  padding: 10px 28px;
}

#ready-button {
	background-color: #00B50E;
	color: #fff;
	border: 1px solid #fff;
	cursor: pointer;

	&:disabled {
		background-color: #99CC99;
		cursor: default;
	}
}

.button-color-key {
  padding: 4px 10px;
}

.color-key-dropdown {
  display: none;
  margin-bottom: 1em;
  width: 75%;
  text-align: left;
  li {
    list-style-type: none;
  }
  i {
    padding-right: 10px;
  }
  .key-p {
    color: #2187FF;
  }
  .key-ep {
    color: lighten(#2187FF, 25%);
  }
  .key-c {
    color: #45906A;
  }
  .key-ec {
    color: lighten(#45906A, 35%);
  }
  .key-et {
    color: lighten(#90201B, 45%);
  }
  .key-d {
    color: #90201B;
  }
}

.hints-icon {
  font-size: 1em;
  vertical-align: 0;
}

.hidden-role-container {
  position: relative;
  width: 90%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 14px;
  margin-bottom: 2rem;
}

.toggle-role {
  position: absolute;
  top: 1px;
  right: -5px;
  padding: 2px 10px;
  line-height: 1em;
  height: 23px;
  border: none;
  font-size: 10px;
  text-transform: none;
  color: black;
  &:hover {
    border: none;
  }
}

.hidden-role {
  display: block;
  padding: 5px 0;
  margin: 0;
}

.hidden-info {
  display: none;
}

.policy-count td {
	padding: 0 9px;
	margin: 0;
}

.game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  cursor: default;
  .board-divider {
    padding: 0 16px;
    font-size: 50px;
    color: #999;
  }
  .tile {
    display: block;
    width: 1em;
    height: 2em;
    border-radius: 5px;
  }
}

.liberal-board {
  display: flex;
  flex-direction: row;
  div {
    margin-left: 3px;
    border: 1px solid #03AA8C;
  }
}

.fascist-board {
  display: flex;
  flex-direction: row;
  div {
    margin-right: 3px;
    border: 1px solid #f76b36;
  }
}

.election-tracker-container {
  .fill {
    background-color: #FFA000;
  }
  div {
    display: inline-block;
  }
  div:first-child {
    padding-right: 4px;
  }
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #FFA000;
    color: #FFA000;
  }
  cursor: default;
}

.powers-button {
  margin-bottom: 12px;
}

.presidential-powers {
  list-style-type: none;
  display: none;
}

.power-name {
  padding-top: 4px;
}

.power-description {
  display: none;
}
// show must be lower in the css file to have presendence
.show {
  display: block;
}

.todo {
  text-decoration: none;
}

.strikethrough {
  text-decoration: line-through;
}


// https://css-tricks.com/snippets/sass/placing-items-circle/
@mixin on-circle($item-count, $circle-size, $item-size) {
	position: relative;
	width:  $circle-size;
	height: $circle-size;
	border-radius: 50%;
	padding: 0;
	list-style: none;

	> * {
		display: block;
		position: absolute;
		top:  50%;
		left: 50%;
		margin: -($item-size / 2);
		width:  $item-size;
		height: $item-size;

		$angle: (360 / $item-count);
		$rot: 0;

		@for $i from 1 through $item-count {
			&:nth-of-type(#{$i}) {
				transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
			}
			$rot: $rot + $angle;
		}
	}
}

@for $i from 1 through 10 {
	ul.circle-container-#{$i} {
		@include on-circle($item-count: $i, $circle-size: 12em, $item-size: 4em);
		margin: 4em auto;
		border: solid 5px #ccc;

		span {
			background-color: #fff;
			display: block;
			width: 80%;
			padding-top: 25%;
			padding-bottom: 25%;
			border-radius: 50%;
			border: solid 5px #ccc;
			transition: all .1s ease-out;
			cursor: pointer;

			&.president {
				border-color: #2187FF;
			}
      &.president-candidate {
        border-color: lighten(#2187FF, 25%);
      }
			&.chancellor-candidate {
				border-color: lighten(#45906A, 35%);
			}
			&.chancellor {
				border-color: #45906A;
			}
      &.on-the-chopping-board {
        border-color: lighten(#90201B, 45%);
      }
      &.dead {
        border-color: #90201B;
      }
		}
	}
}
