/* CSS declarations go here */
* {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

body {
  padding-left: calc(50% - 190px);
  padding-right: calc(50% - 190px);
  display: block;
  text-align: center;
  text-align: -webkit-center;
}

hr {
  width: 90%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em auto;
}
